= render 'shared/v2/identity', id: broker.npn, obj: broker
%n1:name= broker.name_full
- if false
  %n1:dba
- if false
  %n1:display_name
- if false
  %n1:fein
- if false
  %n1:website
- if false
  %n1:tpa
    %n1:tpa_name
    %n1:tpa_fien
%n1:is_active= broker.is_active
= render 'shared/v2/timestamp', record: broker