<div class="page_break">
<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "250"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></br></br></td>
  </tr>
    <tr class="wid50">
      <td align="left"><%= Date.today.strftime('%m/%d/%Y') %></td>
    </tr>
    <tr>
  <td></br></td>
  </tr>
  </tbody>
</table>
<%= render partial: "notices/ivl/inner_address", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
  <tr>
      <td></br>
        </td>
    </tr>
    <tr>
      <td><h3>Subject: DC Health Link Plan Year 2016 Open Enrollment & Preliminary Renewal Notice</h3></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>DC Health Link has started the process of renewing your health insurance for the 2016 plan year, which begins on January 1, 2016.  This process has three steps:  </td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><ul style="list-style: circle solid;"><li style="margin-top: 12px;"><strong>Review your information:</strong> We need to make sure that the information we have about you and your household is up to date. Review the information in this notice and let us know by «Response_Date» if anything will be different next year.  </li><li style="margin-top: 12px;"><strong>Choose your 2016 plan:</strong> If you want to keep your current health insurance plan, you don’t need to re-enroll. We will renew your coverage in the same plan or a similar one for 2016. If you want to consider selecting a different health plan for 2016, you will have an opportunity to do so once open enrollment for 2016 starts on November 1, 2015.  </li><li style="margin-top: 12px;"><strong>Pay your premiums:</strong> You must continue to pay your premiums for your 2015 plan on time each month in order to have your coverage renewed for 2016. If you pay health insurance or dental premiums through an auto-payment plan, you must update the amount you pay to cover your 2016 plan premium(s).  Failure to update your autopay amounts could result in the carrier terminating your coverage in 2016. If you have any questions about autopay, please call your health insurance or dental insurance company.</li></ul></td>
      </tr>
    <tr>
      <td>
        The rest of this notice has important information about each of these steps.
      </td>
    </tr>   
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
    <td></br></td>
    </tr>
    <tr class="mar20 fssizeuser">
      <td>
        <strong>Note: If this notice was sent to you in error, and your health plan for 2015 has already been cancelled or terminated, you must go to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a> during open enrollment to re-enroll for 2016.  Your coverage will not be automatically renewed.</strong>
      </td>
    </tr>   
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
    <td></br></td>
    </tr>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Review Your Information</h3></td>
    </tr>
    <tr>
    <td>It is very important that you provide updated 2016 information for your entire tax household, which includes your spouse and tax dependents, even if they are not enrolled in coverage through DC Health Link to make sure that you receive the correct amount of help paying for coverage.</td>
    </tr>
    <tr>
    <td></br></td>
    </tr>
    <tr>
    <td>This is the most up to date information we have for you and other members of your household:</td>
    </tr>
    <tr>
    <td></br></td>
    </tr>
  </tbody>
  </table>
</div>

<div class="page_break">

  <% 3.times do |item| %>
  <table class="total_table household_member_details" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong>household member</strong></th>
  <tr>
    <td style="width: 45%;">State of Residency</td>
    <td></td>
    </tr>
    <tr>
    <td style="width: 45%;">Citizenship/Lawful Presence</td>
    <td></td>
    </tr>
    <tr>
    <td style="width: 45%;">Tax Status</td>
    <td></td>
    </tr>
    <tr>
    <td style="width: 45%;">Other Coverage</td>
    <td></td>
    </tr>
    <tr>
    <td style="width: 45%;">Tax Household Size</td>
    <td></td>
    </tr>
        <tr>
    <td style="width: 45%;">Projected 2016 Annual Income</td>
    <td></td>
    </tr>
    <tr>
    <td style="width: 45%;">Incarcerated</td>
    <td></td>
    </tr>
  </tbody>
  </table>
  <% end %>

  <table class="total_table" border="0">
  <tbody>
    <tr class="mar20 fssizeuser">
      <td>
        <strong>If any of this information is incorrect, or if you need to add or remove anyone from your household please let us know by «Response_Date».</strong> You can report any changes by calling DC Health Link Customer Service at 1-855-532-5465 and telling the customer service representative that you want to make changes to the information used for your 2016 renewal.
      </td>
    </tr>   
  </tbody>
  </table>

  </div>
  
  <div class="page_break">
<table class="total_table" border="0">
<tr><td></td></tr>

</table>


   <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3>IMPORTANT: Providing Consent to Use IRS Data</h3></td>
    </tr>
    <tr><td></td></tr>
<tr>
      <td>Our information currently shows that you have not provided us with consent to check Internal Revenue Service (IRS) data for the purpose of determining your eligibility for help paying for health insurance.</td>
    </tr>
    <tr><td></br></td></tr>
    <tr><td><strong>In order to take advantage of the advance premium tax credit or cost-sharing reductions that you may be eligible for, you must allow us to check against IRS data sources.</strong> If you would like to allow us to check IRS data sources, please contact us as soon as possible by calling DC Health Link Customer Service at 1-855-532-5465 and telling the customer service representative that you want to provide consent for us to check tax data for your renewal. </td></tr>
     </tbody>
  </table>


   <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Your 2016 Financial Assistance</h3></td>
    </tr>
    <tr><td></td></tr>
<tr>
      <td>Based on the information we have for you, we estimate that your household will be eligible for $«maximum APTC» per month in advanced premium tax credits in 2016.  If you receive premium assistance in 2016, you must file federal taxes for 2016.  Additionally, if you are married, you must file as “Married Filing Jointly” in order to be eligible for premium tax credits.</td>
    </tr>
    <tr><td></br></td></tr>
    <tr><td>A small percentage of DC Health Link customers are also eligible for cost sharing reductions. Your household «CSR_Eligibility» eligible for cost-sharing reductions. There are several types of medical expenses that may be reduced if you qualify for cost-sharing reductions, which are the following: </td></tr>
    <tr>
      <td><ul style="list-style: circle solid;"><li style="margin-top: 12px;"><strong>Co-payment:</strong> A flat fee paid when you see a doctor or go to the hospital.  </li><li style="margin-top: 12px;"><strong>Co-insurance:</strong> A percentage of the cost of a service that a doctor, clinic, or hospital charges for the services it provides.</li><li style="margin-top: 12px;"><strong>Deductible:</strong> An annual amount that must be paid before health plan starts its coverage.  Many preventive health services are covered even before the deductible is met.</li></ul></td>
      </tr>

    <tr><td>If you are eligible, you can use this benefit only if you enroll in a Silver level plan. Native Americans or Alaska Natives who are eligible for cost-sharing reductions can use this benefit in Bronze, Silver, Gold, or Platinum level plans.</td></tr>
     </tbody>
  </table>


   <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Projected 2016 Health Plan Enrollment</h3></td>
    </tr>
<tr>
      <td>Open enrollment for 2016 begins November 1, 2015 and ends January 31, 2016. If you would like a different plan for 2016, you must choose it during open enrollment. The date your new plan will start depends on when you finish shopping for your new plan:</td>
    </tr>
    <tr><td></br></td></tr>
     </tbody>
  </table>

      <table align="center" class="total_table household_member_details" style="width: 70%;" border="1">
  <tbody>
      <tr colspan="2" style="text-align:left; background-color:rgb(198,217,241); padding:0 10px;">
        <td style="width: 60%;"><strong>Date new plan is selected</strong></td>
        <td><strong>Date new plan starts</strong></td>
      </tr>
  <tr>
    <td style="width: 60%;">November 1 - December 15, 2015</td>
    <td>January 1, 2016</td>
    </tr>
    <tr>
    <td style="width: 60%;">December 16 - January 15, 2016</td>
    <td>February 1, 2016</td>
    </tr>
    <tr>
    <td style="width: 60%;">January 16 - January 31, 2016</td>
    <td>March 1, 2016</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" border="0">
  <tbody>
    <tr class="mar20 fssizeuser">
      <td>After January 31, 2016, you won’t be able to sign up for a plan or change to a different plan until the next open enrollment period starting late in 2016 unless you experience a major life change like getting married or having a baby.</td>
    </tr>
     </tbody>
     </table>
      <table class="total_table" border="0">
  <tbody>
    <tr><td></br></td></tr> 
    <tr>
      <td><h4>Health Plan:  <span>«M_2016_Health_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%; "><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>M_2016_Health_Plan_Premium</span></li></ul></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
       <tr>
      <td><h4>Dental Plan:  <span>«M_2016_Dental_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%;"><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>
      M_2016_Dental_Plan_Premium</span></li></ul></td>
    </tr>
    <tr><td></br></td></tr>
  </tbody>
</table>

  <table class="total_table" border="0">
  <tbody>
    <tr class="mar20 fssizeuser">
      <td><strong>If you are satisfied with these plans, you do not need to do anything during open enrollment but continue to pay your monthly premiums for your health and/or dental plan. We will automatically renew your coverage in these plans for 2016.</strong> The amount of APTC shown here may be lower than the full amount you are eligible for if you opted to take less than the full amount before. Taking less than the full amount lowers the risk that you will have to repay part of your APTC when you file your taxes. If you would like to change the amount of APTC applied to your plan, please call DC Health Link Customer Service at 1-855-532-5465.</td>
    </tr>
     </tbody>
     </table>

       <table class="total_table" border="0">
  <tbody>
    <tr class="mar20 fssizeuser">
      <td>Your plan will send you a separate mailing about changes to your benefits, co-payments, co-insurance, and deductibles for 2016. Be sure to call or visit the plan’s website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered.</td>
    </tr>
     </tbody>
     </table>

      <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Pay Your Premiums</h3></td>
    </tr>
<tr>
      <td>You must continue to pay your premium for your 2015 plan to be renewed for 2016. <strong>If you miss a payment or do not pay the full amount each month, your coverage will not be automatically renewed.</strong> If you believe your 2015 plan has been terminated and you want to enroll in plan for 2016, please call DC Health Link Customer Service at 1-855-532-5465.</td>
    </tr>
     <tr>
      <td></br></td>
    </tr>
    <tr><td>Your monthly premium amount will be different in 2016. <strong>If you have auto-pay set up for your health insurance plan(s), you must contact your health insurance plan to update the amount withdrawn every month.</strong> If you do not make an update, your health or dental insurance company may terminate your coverage.</td></tr>
     </tbody>
     </table>

           <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
    </tr>
<tr>
      <td>Important information is stored in your account on the DC Health Link website.  If you don’t have an account already, you can create one by going to www.DCHealthLink.com. You can get help with logging in or creating an account by calling DC Health Link Customer Service toll-free at 1-855-532-5465.</td>
    </tr>
     </tbody>
     </table>
  </div>

<style>
.household_member_details{
  margin-bottom:20px;
}

table.household_member_details td, table.household_member_details th {
    border-width: 0.1em;
    border-style: solid;
}

.household_member_details td, .household_member_details th{
  padding:2px 10px;
}
</style>
