- if object.comments.any?
  %comments
    - object.comments.each do |comment|
      %commment
        %content= comment.content
        %author= comment.author
        %date= comment.date
        %priority_flag= comment.priority_flag
