%coverage_household
  %id
    %id= coverage_household.primary.family_member.person.hbx_id
  %start_date= coverage_household.household.effective_start_on
  %end_date= coverage_household.household.effective_end_on
  -if coverage_household.coverage_household_members.any?
    %coverage_household_members
      -coverage_household.coverage_household_members.each do |chm|
        %coverage_household_member
        =render "shared/v2/coverage_household_member.xml.haml", :coverage_household_member => chm
  %primary_member_id= household.family.primary_applicant.person.authority_member_id