%relationships
  - person.person_relationships.each do |relationship|
    %relationship
      %relationship_uri= "urn:openhbx:terms:v1:individual_relationship##{relationship.kind}"
      %object_individual
        %id= relationship.relative.authority_member_id
