receiver_id: '999999999'
hbx_id: 'ma0'
environment: 'preprod'
invalid_argument_queue: 'dc0.errors.invalid_arguements'
processing_failure_queue: 'dc0.errors.processing_failures'
request_exchange: 'dc0.preprod.e.direct.requests'
event_exchange: 'dc0.preprod.e.topic.events'
event_publish_exchange: 'dc0.preprod.e.fanout.events'
amqp_uri: 'amqp://guest:guest@10.83.85.128:55671'
file_storage_uri: 'http://'
