!!! XML
%policy{ :xmlns => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance" }
  - policy = @policy
  = render :partial => "policies/policy", :object => policy 
